In [1]:
#panda stands for panel data ia the core library for data manipulation and data analysis

In [2]:
import pandas as pd

In [6]:
s1=pd.Series([1,2,3,4,5,6,7,8])
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [9]:
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
type(s1)

pandas.core.series.Series

In [17]:
s1[2]

/var/folders/qq/t11wtqvj3ms_7wcz936tk6xw0000gn/T/ipykernel_44397/625738788.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[2]

3

In [18]:
s1[1]

/var/folders/qq/t11wtqvj3ms_7wcz936tk6xw0000gn/T/ipykernel_44397/371843902.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s1[1]

2

In [23]:
s1[-1:]

e    5
dtype: int64

In [22]:
s1[-2:]

d    4
e    5
dtype: int64

In [24]:
s1[:-3]

a    1
b    2
dtype: int64

In [25]:
s1+5

a     6
b     7
c     8
d     9
e    10
dtype: int64

In [26]:
s1-4

a   -3
b   -2
c   -1
d    0
e    1
dtype: int64

In [27]:
s1*2

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [28]:
s1/2

a    0.5
b    1.0
c    1.5
d    2.0
e    2.5
dtype: float64

In [30]:
s2=pd.Series([1,2,3,4,5,6,7,8,9,10])
s2

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [31]:
s1=s2

In [32]:
s1+s2

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

In [33]:
s2-s1

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [34]:
#dataframes comprises of rows and column

In [35]:
import pandas as pd

In [40]:
lst=['saurav','ram']
df=pd.DataFrame(lst)
print(df)

        0
0  saurav
1     ram

In [53]:
import pandas as pd
pd.DataFrame({'Name':['saurav','anshu','shubham','karmveer'],'Marks':[23,21,34,344]})

       Name  Marks
0    saurav     23
1     anshu     21
2   shubham     34
3  karmveer    344

In [81]:
import pandas as pd


data = [
    ['John', 25, 'New York'],
    ['Alice', 30, 'Chicago'],
    ['Bob', 35, 'Los Angeles'],
    ['Emily', 28, 'San Francisco']
]


columns = ['Name', 'Age', 'City']
df = pd.DataFrame(data, columns=columns)
print(df)

    Name  Age           City
0   John   25       New York
1  Alice   30        Chicago
2    Bob   35    Los Angeles
3  Emily   28  San Francisco

In [75]:
print(df['Name','City'])

0     John
1    Alice
2      Bob
3    Emily
Name: Name, dtype: object

In [77]:
print(df[['Name','City','Age']])

    Name           City  Age
0   John       New York   25
1  Alice        Chicago   30
2    Bob    Los Angeles   35
3  Emily  San Francisco   28

In [83]:
print(df.loc[0,1])

KeyError: 1